<h1><%= t ".reset_password"%></h1>
<p><%= t ".to_reset_password_click_the_link"%></p>
<%= link_to t(".reset_password"),
      edit_password_reset_url(id: @user.reset_token,
        email: @user.email) %>
<p><%= t ".link_expire_tow_hours"%></p>
